<section *ngIf="filteredCourses.length">
  <ul>
    <li *ngFor="let course of (filteredCourses | orderByCourses)">
      <app-courses-list-item
        [course]="course"
        (deleted)="showModal($event)"
        (edited)="editCourse($event)"
      ></app-courses-list-item>
    </li>
  </ul>
  <button class="load" (click)="loadMoreCourses()">Load more</button>
</section>
<section *ngIf="!filteredCourses.length">
  <div class="nodata"><span> NO DATA. FEEL FREE TO ADD NEW COURSE </span></div>
</section>
<section *ngIf="isModalShowed" class="modal" (click)="cancelModal($event)">
  <div class="modalContent">
    <header>Do you really want to delete this course?</header>
    <div class="buttonsContainer">
      <button (click)="hideModal()" class="cancel">No</button>
      <button (click)="deleteCourse()">Yes</button>
    </div>
  </div>
</section>
