ul {
  list-style: none;
  padding: 0px;

  li {
    margin-bottom: 30px;
  }
}

.load {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #e77883 0%, #f7954f 100%);
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px 1px #e77883;

  &:focus {
    outline: none;
  }

  &:active {
    background: linear-gradient(rgba(white, 0.5), rgba(white, 0.5)),
      linear-gradient(to right, #e77883 0%, #f7954f 100%);
  }
}

.nodata {
  margin-top: 25px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to right, #e77883 0%, #f7954f 100%);
  box-shadow: 0 0 5px 1px #e77883;
  color: white;
}
