<form [formGroup]="courseControl">
  <label>
    Title:
    <span
      class="error"
      *ngIf="
        courseControl.controls.title.invalid &&
        courseControl.controls.title.touched
      "
    >
      Max length 50 symbols
    </span>
  </label>
  <input
    formControlName="title"
    [ngClass]="
      courseControl.controls.title.invalid &&
      courseControl.controls.title.touched &&
      'error'
    "
  />

  <label>
    Description:
    <span
      class="error"
      *ngIf="
        courseControl.controls.description.invalid &&
        courseControl.controls.description.touched
      "
    >
      Max length 500 symbols
    </span>
  </label>
  <textarea
    formControlName="description"
    [ngClass]="
      courseControl.controls.description.invalid &&
      courseControl.controls.description.touched &&
      'error'
    "
  ></textarea>

  <app-date-input formControlName="date"></app-date-input>

  <app-duration-input formControlName="duration"></app-duration-input>

  <app-authors-select
    formControlName="authors"
    [listOfAuthors]="listOfAuthors"
  ></app-authors-select>

  <div class="buttonsContainer">
    <button (click)="cancel()" class="cancel" type="button">
      Cancel
    </button>
    <button (click)="save()" [disabled]="courseControl.invalid" type="button">
      Save
    </button>
  </div>
</form>
