.container {
  display: flex;
  padding: 15px 20px;
  box-shadow: 0 0 5px 2px #ebebeb;
  border-radius: 15px;

  .infoContainer {
    display: flex;
    flex-direction: column;

    header {
      display: flex;
      margin-bottom: 10px;

      h3 {
        margin: 0px;
        color: #34b7de;
      }

      .star {
        margin-left: 5px;
        color: #e77883;
      }

      .mock {
        flex-grow: 1;
      }

      .duration {
        margin-right: 20px;
      }
    }

    .description {
      flex-grow: 1;
      display: flex;
      align-items: center;
    }
  }

  .buttonsContainer {
    margin-left: 50px;

    button {
      width: 40px;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 100%;
      box-shadow: 0 0 3px 1px #34b7de;
      background-color: transparent;
      color: #34b7de;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:active {
        background-color: #34b7de4d;
      }
    }

    .delete {
      margin-top: 10px;
    }
  }
}
