<div class="container" [appBackgroundColor]="course.creationDate">
  <section class="infoContainer">
    <header>
      <h3>{{ course.title | uppercase }}</h3>
      <fa-icon [icon]="starIcon" ngClass="star" *ngIf="course.topRated"></fa-icon>
      <div class="mock"></div>
      <span class="duration">{{ course.duration | duration }}</span>
      <span>{{ course.creationDate | date: 'dd.MM.yyyy' }}</span>
    </header>
    <span class="description">{{ course.description }}</span>
  </section>

  <section class="buttonsContainer">
    <button><fa-icon [icon]="editIcon" size="lg"></fa-icon></button>
    <button class="delete" (click)="deleteCourse()">
      <fa-icon [icon]="deleteIcon" size="lg"></fa-icon>
    </button>
  </section>
</div>
