.container {
  display: flex;
  justify-content: space-between;

  input {
    min-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px #e77883;

    &:focus {
      outline: none;
    }
  }

  button {
    padding: 10px;
    background: linear-gradient(to right, #e77883 0%, #f7954f 100%);
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px 1px #e77883;

    &:focus {
      outline: none;
    }

    &:active {
      background: linear-gradient(rgba(white, 0.5), rgba(white, 0.5)),
        linear-gradient(to right, #e77883 0%, #f7954f 100%);
    }
  }
}
